#container {
    display: flex;
    border: solid red;
    height: 800px;
    width: 800px;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.box { 
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
    padding: 10%
}